<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Загрузите сборник статей в виде pdf</title>
    <form action="/" enctype=multipart/form-data method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
</head>
<body>

</body>
</html>